<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Messages</p>
    <%if (locals.messages){ %>
      <%for (let i = 0; i < locals.messages.length; i++){ %>
      <p><%=locals.messages[i].message%></p>
      <p><%=locals.messages[i].name%></p>
      <p><%=locals.messages[i].date%></p>
      <br>
    <%} %>
    <%}%>
    
    <a href="./new">New Message</a>
  </body>
</html>
